body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001f3f; /* Bleu nuit */
    color: #fff; /* Texte blanc */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    max-width: 800px;
    width: 100%;
    text-align: center;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 15px 30px; /* Augmentation de la taille des boutons */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}